@font-face {
    font-family: 'Merienda';
    src: url("fonts/Merienda-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url("fonts/WorkSans-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
}

dfn, em, strong {
    font-style: normal;
}

dfn, .slideshow-card em {
    font-weight: bold;
}

.definition strong, .definition em, .citation em, .paragraph-2 em {
    font-weight: normal;
}

q {
    quotes: none;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
    background-repeat: no-repeat;    
}

@media (max-width: 1023px) {
    body {
        background-size: 120%;
    }
}

@media (min-width: 1024px) {
    body {
        background-size: 100%;
    }
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.b-parallax {
    background-attachment: fixed;
}

/* Header */
header {
    z-index: 1;
    overflow: visible;
}

@media (max-width: 1023px) {
    header {
        transform: translate(0, -26%);
    }
}

@media (min-width: 1024px) {
    header {
        transform: translate(0, -18%);
    }
}

.panther-icon {
    display: block;    
    margin: 3vw auto 0 auto;
    background-color: #FFFFFF;
    fill: #492809;
}

@media (max-width: 1023px) {
    .panther-icon {
        width: 21vw;
        height: 21vw;
        border-radius: 9.5vw;
        padding: 3vw;
    }
}

@media (min-width: 1024px) {
    .panther-icon {
        width: 15.5em;
        height: 15.5em;
        border-radius: 7em;
        padding: 2.2em;  
    }
}

header h1 {
    font-family: 'Merienda', cursive, serif;
    font-size: 7.5vw; /* 6.5vw */
    color: #F4861E;
    line-height: 1.2em;
    filter: drop-shadow(0 0 0.3vw #492809);
}

@media (min-width: 1024px) {
    h1 {
        font-size: 5.5em;
    }
}

header h2 {
    /* width: fit-content; */
    margin-block-start: -0.83em;
    margin-block-end: -0.83em;
    font-family: 'WorkSans', Helvetica, sans-serif;
    font-size: 3.5vw; /* 3vw */
    color: #F4861E;
    text-transform: uppercase;
    filter: drop-shadow(0 0 0.3vw #492809);
}

@media (min-width: 1024px) {
    header h2 {
        font-size: 2.5em;
    }
} /* Commentaire SEO : */

@media (min-width: 1024px) {
    .header-home-page h1 {
        transform: translate(0, -65px)
    }

    .header-home-page h2 {
        transform: translate(0, -95px)
    }
}

/* Bloc 2 services */
#bloc-2-services {
    padding: 50px 0 50px 0;
}

@media (min-width: 1024px) {
    #services-description {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0 0 0 15em;
    }
}

@media (min-width: 1300px) {
    #services-description {
        margin: 0 0 0 15vw;
    }
}

.definition, .citation {    
    width: 70vw;
    font-family: 'WorkSans', Helvetica, sans-serif;
    font-size: 3.5vw;
    color: #492809;
    text-align: justify;
}

.definition {
    margin: -35px 0 0 15vw;
}

.citation {
    margin: 0 0 0 15vw;
}

@media (min-width: 1024px) {
    .definition, .citation {        
        width: 580px;
        font-size: 1.5em;         
    }

    .definition {
        margin: 0 auto 0 auto;
    }

    .citation {
        margin: 0 auto 0 auto;
        transform: translate(-7.5vw, 0);
    }    
}

.definition dfn, .citation strong {
    font-family: 'Merienda', cursive, serif;
}

.service {
    margin: 8vw auto 7vw auto;
    width: 70vw;
    font-family: 'WorkSans', Helvetica, sans-serif;
    color: #492809;
}

@media (min-width: 1024px) {
    .service {        
        margin: 5em 4% 5em 0;
        width: 25%;        
    }
}

.service-icon {
    position: relative;    
    left: 43%;
    filter: drop-shadow(1px 1px 2px #492809);
    fill: #1E21F4;    
}

@media (min-width: 1024px) {
    .service-icon {
        left: 39%;
    }
}

.service h3 {    
    font-size: 3.5vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 1024px) {
    .service h3 {
        font-size: 1.65em;
    }
}

.service p {    
    font-size: 3vw;
    text-align: justify
}

@media (min-width: 1024px) {
    .service p {
        font-size: 1.35em;        
    }
}

.citation p {
    margin: 4vw 0 0 0;
    font-size: 3.15vw;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 1024px) {
    .citation p {
        margin: 1.5em 0 0 0;
        font-size: 1.15em;
    }
}

.citation a {
    text-decoration: none;
    color: #1E21F4;
}

.citation a:visited {
    text-decoration: none;
    color:#1E21F4;
}

/* Bloc 3 what-i-do */
#bloc-3-what-i-do {
    background-size: cover;
    font-family: 'WorkSans', Helvetica, sans-serif;
    text-align: justify;
}

@media (max-width: 1023px) {
    .what-i-do-paragraphs {
        margin: 0 0 0 5vw;
    }
}

.paragraph-1 {
    font-size: 3.5vw;
    font-weight: bold;
    color: #F4861E;
}

.paragraph-2 {
    font-size: 3.5vw;
    color: #FFFFFF;
}

.paragraph-2 span {
    font-weight: bold;
    color: #F4861E;
}

@media (min-width: 1024px) {
    .paragraph-1 {
        font-size: 1.9em;
    }

    .paragraph-2 {
        font-size: 1.4em;
    }
}

/* Bloc 4 portfolio */
.bloc-diapo {
    padding: 20px 0 100px 0;
    overflow-x: hidden;
}

.portfolio-introduction, .portfolio-title {
    margin: 0 auto 2em auto;
    font-family: 'WorkSans', Helvetica, sans-serif;    
    font-weight: bold;
    text-transform: uppercase;
}

.portfolio-introduction {    
    width: 70vw;
    font-size: 3.35vw;
    color: #492809;    
}

.portfolio-title {
    margin-block-start: -0.83em;
    margin-block-end: -0.83em;
    margin: 0 auto 2em auto;
    font-size: 5.35vw;
    color: #F4861E;
}

@media (min-width: 1024px) {
    .portfolio-introduction {
        font-size: 1.4em;
    }

    .portfolio-title {
        font-size: 3.3em;
    }
}

.slideshow {
    display: flex;     
}

.images-slides {
    display: flex;
    padding: 0 0 3vw 0; 
}

.images-slides input {
    display: none;
}

.sliding {
    display: inline-flex;
    position: absolute;    
    margin: 0 0 2em 15vw;
    width: 70vw;    
}

.sliding-button {
    margin: 0 auto 0 auto;
    width: 15px;
    height: 15px;
    background-color: #F4861E;
    border: 2Px solid #F4861E;
    border-radius: 15px;
    cursor: pointer;
    transform: translate(0, 0em);
}

.sliding-button:hover {    
    border: 2px solid #492809;
    transform: scale(1.3);
    transition: 150ms;
}

#journal_local:checked~.first {
    margin: 30px 0 0 0;    
}

#photographes:checked~.first {
    margin: 30px 0 0 -100vw;    
}

#voyageur:checked~.first {
    margin: 30px 0 0 -200vw;
}

#agence_mariage:checked~.first {
    margin: 30px 0 0 -300vw;
}

.slide-frame {
    margin: 30px 0 0 0;
    width: 100vw;
    height: fit-content;    
    transition: 450ms ease-out;    
}

.slideshow-card {
    position: relative;
    top: 5vw;
    margin: 0 auto 0 auto;    
    width: 320px;
    height: 430px;
    border-radius: 2em;
    box-shadow: 0 1vw 2vw 1vw #d9d9d9;
    cursor: pointer;
    overflow: hidden;
}

.slideshow-photo {
    position: relative;
    width: 320px;
    height: 320px;
    transition: 900ms 100ms ease-in-out;
}

.slideshow-card-body {
    transition: 900ms 100ms ease-in-out;
}

.slideshow-card:hover .slideshow-card-body-title {
    margin-block-start: -.9em;
}

.slideshow-card:hover #slideshow-title-1 {
    height: 77px;
}

.slideshow-card:hover #slideshow-title-2, .slideshow-card:hover #slideshow-title-3 {
    height: 67px;
}

.slideshow-card:hover #slideshow-title-4 {
    height: 57px;
}

.slideshow-card:hover .slideshow-photo, .slideshow-card:hover .slideshow-card-body {    
    transform: translate(0, -50px);
}

.slideshow-card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 1em 0 1em;    
    font-family: 'WorkSans', Helvetica, sans-serif;    
    text-align: justify;
}

.slideshow-card-body-title {
    height: 150px;
    font-size: 1.1em;
    color: #1E21F4;
    text-transform: uppercase;
    transition: 900ms;
}

.slideshow-card-body-description {
    color: #492809;
}


.slideshow-card-body-description {
    font-size: 1.1em;
}

/* Bloc 5 bannière */
#bloc-5-cta {
    font-family: 'WorkSans', Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #F4861E;
    filter: drop-shadow(0 0 0.3vw #492809);
}

@media (min-width: 1024px) {
    #bloc-5-cta {
        font-size: 2.5em;
    }
}

/* Footer */
footer {
    background-color: #F4861E;
    font-family: 'WorkSans', Helvetica, sans-serif;
    font-size: 1.5em;
}

.panther-font {
    font-family: 'Merienda', cursive, serif;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #1E21F4;
}

.link {
    line-height: 210%;
}

.link:hover {
    color: dodgerblue;    
}

footer a:visited {
    text-decoration: none;
    color: #1E21F4;
}

#logo-twitter, #logo-dribbble, #logo-instagram {
    width: 30px;
}

#logo-twitter {    
    top: 20%;
    left: 20%;
    fill: #1DA1F2;    
}

#logo-facebook {
    top: 18%;
    left: 30%;
    width: 20px;
    fill: #4267B2;
}

#logo-dribbble {
    top: 21%;
    left: 22%;
    border-radius: 15px;
    fill: #B2215A;    
    background-color: #EA4C89;
}

#logo-instagram {
    top: 16%;
    left: 20%;
}

.social-network-button {
    z-index: 1;
    position: relative;
    margin: 0 0 20px 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: transparent;    
    border: none;
}

.logo-social {
    position: absolute;
    z-index: -1;    
    filter: drop-shadow(0 0 0.3vw #492809);
    transition: transform 400ms ease-in-out;
}

.logo-social-hover {
    position: absolute;
    fill: #F4861E;
    filter: drop-shadow(0 0 0.3vw #492809);
}

#logo-instagram-hover {
    fill: #F69E4B;
}

#logo-twitter-hover, #logo-dribbble-hover, #logo-instagram-hover {
    width: 30px;
}

#logo-twitter-hover {    
    top: 20%;
    left: 20%;
}

#logo-facebook-hover {
    top: 18%;
    left: 30%;
    width: 20px;
}

#logo-dribbble-hover {
    top: 21%;
    left: 22%;
}

#logo-instagram-hover {
    top: 16%;
    left: 20%;
}

.social-network-button__hover-effect {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    border-radius: 50vw;
    box-shadow: 0 0 2vw 0 #492809;
    transform: scale(0);
    transition: transform 400ms ease-in-out;
}

#twitter-button__hover-effect {
    background: #1DA1F2;
}

#facebook-button__hover-effect {
    background: #4267B2;
}

#dribbble-button__hover-effect {
    background: #B2215A;
}

#instagram-button__hover-effect {
    background: linear-gradient(to top right, #FED576, #F47133, #BC3081, #4C63D2);
}

.social-network-button:hover .logo-social {
    transform: scale(0);
}

.social-network-button:hover .social-network-button__hover-effect {
    transform: scale(1);
}

@media (min-width: 768px) {
    #partners {
        margin: 0 0 0 34%;
    }
}

.partners-title {
    color: #FFFFFF;
    text-transform: uppercase;    
}

/* Page contact */
.contact-form {
    padding: 0 0 0 10%;
    font-family: 'WorkSans', Helvetica, sans-serif;    
}

.contact-form-header {
    color: #492809;
}

.contact-form-header-title {
    display: flex;    
    flex-wrap: nowrap;
    margin: 0 0 0 -12%;
    padding: 3vw 0 3vw 10%;    
    background-color: #F4861E;    
}

.contact-form-header .panther-icon {
    margin: 0 5vw 0 0;
}

.contact-form-header h1 {
    margin-block-start: -0.83em;
    margin-block-end: -0.83em;
    margin: 7vw 0 0 0;
    width: fit-content;
    height: fit-content;
    font-family: 'Merienda', cursive, serif;
    font-size: 35px;
    text-decoration: none;
}

.contact-form-header-title-text a {
    color: #492809;
    text-decoration: none;
}

.contact-form-header-title-text a:visited {
    color: #492809;
}

.contact-form-header h2 {
    margin-block-start: -1em;
    margin-block-end: -1em;
    margin: 1vw 0 0 0;
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    text-transform: uppercase;
}

.contact-form-header p {
    width: 85%;
    text-align: justify;
    font-size: 17px;
    line-height: 1.5em;
}

@media (min-width: 768px) {
    .contact-form-header h1 {
        font-size: 45px;
    }

    .contact-form-header h2 {
        font-size: 22px;
    }

    .contact-form-header p {        
        font-size: 22px;    
    }
}

.form-group {
    margin: 20px 0 0 0;
}

.form-group label, .note {
    color: #492809;
}

.asterisk {
    color: #F4861E;
}

.contact-form input, select, textarea {    
    border: 3px solid #F4861E;
    border-radius: 7px;    
    color:#1E21F4;
}

textarea {
    margin: 14px 0 0 0;
    font-family: 'WorkSans', Helvetica, sans-serif;
    font-size: 20px;    
}

textarea:focus {
    outline: 2px solid dodgerblue;
}

.contact-form input {
    font-size: 20px;
}

.contact-form input:focus, select:focus {
    outline: 2px solid dodgerblue;
}

.contact-footer-infos {
    padding: 20px 50px;
    text-align: center;
}

#contact-footer .social-networks-list {
    text-align: center;
}

@media (min-width: 1024px) {
    #contact-footer .social-networks-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center; 
    }

    #contact-footer .social-network-button {
        margin: 0 1.5vw 20px 1.5vw;
    }
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}


label {    
    font-family: "WorkSans", Helvetica, sans-serif;
    font-size: 1em;
}

#label-1 {
    margin: 0 11.2em 0 0;
}

#label-2 {
    margin: 0 9em 0 0;
}

#label-3 {
    margin: 0 9.7em 0 0;
}

#label-4 {
    margin: 0 6.6em 0 0;
}

#label-5 {
    margin: 0 3.1em 0 0;
}

.container {
    max-width: 1000px;
}

.tight-width-whitespace {
    max-width: 600px;
    /* margin: auto auto auto auto; Commentaire SEO : */
    margin: auto;
}

.contact {
    z-index: 2;
    position: sticky;
    top: 0;
    width: fit-content;
}

@media (max-width: 1023px) {
    .contact {
        transform: translate(0, 50%);
    }
}

@media (min-width: 1024px) {
    .contact {
        transform: translate(0, 60%);
    }
}

.contact-button-mobile, .submit-button-mobile {
    z-index: 1;
    position: relative;
    margin: 1vw 0 0 1vw;
    width: 10vw;
    height: 10vw;
    border: none;
    border-radius: 50vw;
    box-shadow: 0 0 2vw 0 #492809;
    background: #F4861E;
    padding: 3vw;
    fill: #FFFFFF;
}

.contact-button-mobile:hover, .submit-button-mobile:hover {
    box-shadow: 0 0vw 1vw 0vw #492809;
    transform: scale(1.1);
}

.contact-button-mobile:active, .submit-button-mobile:active {
    transform: scale(0.95);
}

.contact-button-mobile__hover-effect, .submit-button-mobile__hover-effect {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    border-radius: 50vw;
    background: #F69E4B;
    opacity: 0;
    transition: opacity 350ms ease-in-out;    
}

.contact-button-mobile:hover .contact-button-mobile__hover-effect, .submit-button-mobile:hover .submit-button-mobile__hover-effect {
    opacity: 1;
}

.contact-button-desktop, .submit-button-desktop {
    z-index: 1;
    position: relative;
    border: none;
    border-radius: 10vw;
    box-shadow: 0 0vw 1.5vw 0vw #492809;
    background: #F4861E;
    padding: .9em 1.5em .9em 1.5em;
    font-family: 'WorkSans', Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #FFFFFF;
}

.contact-button-desktop {
    margin: 3vw 0 0 2.5em;
}

.submit button {
    cursor: pointer;
}

#submit-button-mobile {
    margin: 1em 0 5% 40%;
}

#submit-button-desktop {
    margin: 2em 0 2em 0;
}

.contact-button-desktop:hover, .submit-button-desktop:hover {
    box-shadow: 0 0vw 0.8vw 0vw #492809;
    transform: scale(1.1);
}

.contact-button-desktop:active, .submit-button-desktop:active {
    transform: scale(0.95);
}

.contact-button-desktop__hover-effect, .submit-button-desktop__hover-effect {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10vw;
    background: #F69E4B;
    opacity: 0;
    transition: opacity 350ms ease-in-out;
}

.contact-button-desktop:hover .contact-button-desktop__hover-effect, .submit-button-desktop:hover .submit-button-desktop__hover-effect {
    opacity: 1;
}

@media (min-width: 1024px) {
    .form-elements {
        display: inline-flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1023px) {
    .contact-button-desktop, .submit-button-desktop {
        display: none;
    }
}

@media (min-width: 1024px) {
    .contact-button-mobile, .submit-button-mobile {
        display: none;
    }
}

.social {    
    margin: auto auto auto auto;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.black-background {
    padding: 40px 40px 40px 40px;
    background-color: #492809;
    opacity: 0.7;
    border-radius: 20px;
}

.bgc-white {
    background-color: #FFFFFF;
}

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container {
        /* overflow-x: hidden; */ /* Commentaire SEO : suppression pour ne pas couper l'icône du header. */
        position: relative;
    }
    /* .bloc {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    } */ /* Deprecated */
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 20px;
        /* padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right); */ /* Deprecated */
    }
}

@media (max-width: 767px) {
    .page-container {
        /* overflow-x: hidden; */ /* Commentaire SEO : suppression pour ne pas couper l'icône du header. */
        position: relative;
    }

    .b-parallax {
        background-attachment: scroll;
    }
    
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }
    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .a-block {
        padding: 0 10px;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    .voffset-lg {
        margin-top: 30px;
    }    
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }
    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
}

@media (max-width: 400px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .bloc-mob-center-text {
        text-align: center;
    }
}