@font-face {
    font-family: "Merienda";
    src: url("fonts/Merienda-Regular.woff2") format("woff2");
} /* Commentaire SEO : */

@font-face {
    font-family: "WorkSans";
    src: url("fonts/WorkSans-VariableFont_wght.woff2") format("woff2");
} /* Commentaire SEO : la police correspond à celle qui est identifiée dans le sous-titre du logo original. Il s'agit d'une police à la fois lisible et au design moderne. */

dfn, em, strong {
    font-style: normal;
} /* Commentaire SEO : conserve le fond sémantique à destination des algorithmes sans que s'applique un style css particulier. */

dfn {
    font-weight: bold;
} /* Commentaire SEO : */

.definition strong {
    font-weight: normal;
}

q {
    quotes: none;
} /* Commentaire SEO : */

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media (max-width: 1023px) {
    body {
        background-size: 120%;
    }
} /* Commentaire SEO : */

@media (min-width: 1024px) {
    body {
        background-size: 100%;
    }
} /* Commentaire SEO : */

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}

.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}

.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} /* Commentaire SEO : */ /* A supprimer. */

.texture-paper::before {
    background: url("img/texture-paper.png");
    background-size: 280px 280px;
} /* Commentaire SEO : */ /* A supprimer. */

.b-parallax {
    background-attachment: fixed;
}

.d-bloc {
    color: rgba(255, 255, 255, .7);
}

.d-bloc button:hover {
    color: rgba(255, 255, 255, .9);
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
    border-color: rgba(255, 255, 255, .9);
}

.d-bloc .divider-h span {
    border-color: rgba(255, 255, 255, .2);
}

.d-bloc .a-btn,
/* .d-bloc .navbar a, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
.d-bloc .navbar-brand /* ,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .d-bloc h1 a, */
/* .d-bloc h2 a, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .d-bloc h3 a, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */ /* ,
.d-bloc p a */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */ {
    color: rgba(255, 255, 255, .6);
}

/* .d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .d-bloc h1 a:hover, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .d-bloc h2 a:hover, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .d-bloc h3 a:hover, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover * / /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */ /* ,
.d-bloc p a:hover */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */ /* {
    color: rgba(255, 255, 255, 1);
} */

.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255, 255, 255, 1);
}

.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.d-bloc .panel {
    color: rgba(0, 0, 0, .5);
}

.d-bloc .panel button:hover {
    color: rgba(0, 0, 0, .7);
}

.d-bloc .panel icon {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .panel .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .a-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
}

/* .d-bloc .panel,
.l-bloc {
    color: rgba(0, 0, 0, .5);
} */ /* Commentaire SEO : annulation de la couleur pour la remplacer avec celle du nuancier adapté. */

/* .d-bloc .panel button:hover,
.l-bloc button:hover {
    color: rgba(0, 0, 0, .7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .panel .divider-h span,
.l-bloc .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl, */ /* Commentaire SEO : annulation de la couleur pour la remplacer avec celle du nuancier adapté. */
/* .l-bloc h1 a, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .l-bloc h2 a, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .a-btn:hover,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-sm,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-xl, */ /* Commentaire SEO : annulation de la couleur pour la remplacer avec celle du nuancier adapté. */
/* .l-bloc h1 a:hover, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .l-bloc h2 a:hover, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* .l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
    color: rgba(0, 0, 0, 1);
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
} */ /* Commentaire SEO : annulation de la couleur pour la remplacer avec celle du nuancier adapté. */

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* Header */
header {
    z-index: 1;    
    overflow: visible;    
} /* Commentaire SEO : */

@media (max-width: 1023px) {
    header {
        transform: translate(0, -26%);
    }
} /* Commentaire SEO : */

@media (min-width: 1024px) {
    header {
        transform: translate(0, -18%);        
    }
} /* Commentaire SEO : */

.panther-icon {
    position: relative;
    top: 37%;    
    background-color: #FFFFFF;
} /* Commentaire SEO : style créér pour le nouveau logo de La Panthere.
La taille respecte la taille originale en format mobile (largeur de la fenêtre du navigateur réduite au maximum),
puis s'adapte en s'agrandissant en fonction de la résolution. */

@media (max-width: 1023px) {
    .panther-icon {
        width: 21vw;
        height: 21vw;
        border-radius: 9.5vw; /* Commentaire SEO : le logo original n'est pas tout à fait rond. */
        padding: 3vw;
    }
} /* Commentaire SEO : */

@media (min-width: 1024px) {
    .panther-icon {
        width: 15.5em;
        height: 15.5em;
        border-radius: 7em; /* Commentaire SEO : le logo original n'est pas tout à fait rond. */
        padding: 2.2em;  
    }
} /* Commentaire SEO : */

/* #bloc-1-hero h1 {
    font-size: 32px;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

h1 {
    font-family: "Merienda", cursive, serif;
    font-size: 7.5vw; /* 6.5vw */
    color: #F4861E;
    line-height: 1.2em;
    filter: drop-shadow(0 0 0.3vw #492809); /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
} /* Commentaire SEO : */

@media (min-width: 1024px) {
    h1 {
        font-size: 5.5em;
    }
} /* Commentaire SEO : */

header h2 {
    /* width: fit-content; */
    margin-block-start: -0.83em; /* Commentaire SEO : les valeurs contrebalancent les marges par défaut de user agent stylesheet et permettent de s'approcher du logo original. */
    margin-block-end: -0.83em; /* Commentaire SEO : les valeurs contrebalancent les marges par défaut de user agent stylesheet. */
    font-family: "WorkSans", Helvetica, sans-serif;
    font-size: 3.5vw; /* 3vw */
    color: #F4861E;
    text-transform: uppercase;
    filter: drop-shadow(0 0 0.3vw #492809); /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
}

@media (min-width: 1024px) {
    header h2 {
        font-size: 2.5em;
    }
} /* Commentaire SEO : */

/* Bloc 2 services */
#bloc-2-services {
    padding: 50px 0 50px 0;
}

@media (min-width: 1024px) {
    #services-description {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0 0 0 15em;
    }
}

@media (min-width: 1300px) {
    #services-description {
        margin: 0 0 0 15vw;
    }
}

.definition, .citation {
    margin: 0 0 0 15vw;
    width: 70vw;
    font-family: "WorkSans", Helvetica, sans-serif;
    font-size: 3vw;
    color: #180D03; /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
    text-align: justify;
}

@media (min-width: 1024px) {
    .definition, .citation {
        margin: 0 auto 0 auto;
        width: 580px;
        font-size: 1.5em;         
    }
}

.definition dfn, .citation strong {
    font-family: "Merienda", cursive, serif;
}

.service {
    margin: 3vw auto 7vw auto;
    width: 70vw;
    font-family: "WorkSans", Helvetica, sans-serif;
    color: #180D03; /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
}

@media (min-width: 1024px) {
    .service {        
        margin: 5em 4% 5em 0;
        width: 25%;        
    }
}

.service-icon {
    position: relative;    
    left: 43%;
    filter: drop-shadow(1px 1px 2px #492809); /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
    fill: #1E21F4;
    /*dodgerblue; */ /* Couleur complémentaire du Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
}

@media (min-width: 1024px) {
    .service-icon {
        left: 39%;
    }
}

.service h3 {    
    font-size: 3.3vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 1024px) {
    .service h3 {
        font-size: 1.65em;
    }
}

.service p {
    font-size: 2.7vw;
    text-align: justify
}

@media (min-width: 1024px) {
    .service p {
        font-size: 1.35em;        
    }
}

.citation p {
    margin: 4vw 0 0 0;
    font-size: 3.15vw;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 1024px) {
    .citation p {
        margin: 1.5em 0 0 0;
        font-size: 1.15em;
    }
}

.citation a {
    text-decoration: none;
    color: #1E21F4; /* dodgerblue; */
}
/* Split-Complementary Palette
As per the RGB color wheel, the split-complementary colors of Trendy Orange (#F4861E) are #1EF4F1 (Fluorescent Blue) and #1E21F4 (Bluebonnet). A split-complementary color palette consists of the main color along with those on either side (30°) of the complementary color. Based on our research, usage of split-complementary palettes is on the rise online, especially in graphics and web sites designs. It may be because it is not as contrasting as the complementary color palette and, hence, results in a combination which is pleasant to the eyes.
https://www.color-name.com/trendy-orange.color */

.citation a:visited {
    text-decoration: none;
    color:#1E21F4; /* dodgerblue; */
}

/* Bloc 3 what-i-do */
#bloc-3-what-i-do {
    background-size: cover;
    font-family: "WorkSans", Helvetica, sans-serif;
    text-align: justify;
}

@media (max-width: 1023px) {
    .what-i-do-paragraphs {
        margin: 0 0 0 5vw;
    }
}

.paragraph-1 {
    font-size: 3.55vw;
    font-weight: bold;
    color: #F4861E;
}

@media (min-width: 1024px) {
    .paragraph-1 {
        font-size: 1.9em;
    }
}

.paragraph-2 {
    font-size: 3vw;
    color: #FFFFFF;
}

.paragraph-2 span {
    font-weight: bold;
    color: #F4861E;
}

@media (min-width: 1024px) {
    .paragraph-2 {
        font-size: 1.4em;
    }
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

/* .navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

/* .nav > li a:hover,
.nav > li a:focus {
    background: transparent;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px;
}

.nav-invert .navbar .nav {
    float: left;
}

.nav-invert .navbar-header,
.nav-invert .navbar-brand {
    float: right;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: #484848;
    }
    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }
    .nav-center {
        text-align: center;
    }
    .nav-center .navbar-header {
        width: 100%;
    }
    .nav-center .navbar-header,
    .nav-center .navbar-brand,
    .nav-center .nav > li {
        float: none;
        display: inline-block;
    }
    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0px;
        margin-top: 20px;
    }
    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 10px auto 0;
    }
}

/* .nav > li > .dropdown a {
    background: none!important;
    display: block;
    padding: 14px 15px;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

nav .caret {
    margin: 0 5px;
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 4px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0!important;
    float: right;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* .btn {
    margin: 0 5px 5px 0;
} */ /* Commentaire SEO : suppression avec la création de .contact (<aside>) */

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

button {
    outline: none!important;
}

/* .btn-rd {
    border-radius: 40px;
} */ /* Commentaire SEO : suppression avec la création de .contact (<aside>) */

/* .btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
} */ /* Commentaire SEO : suppression avec la création de .contact (<aside>) */

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #FFF;
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}

/* h1, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* h2, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
/* h3, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
h4,
h5,
h6,
/* p, */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
label,
.btn /*,
a */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */ {
    font-family: "helvetica";
    font-weight: 400;
    /* color: #575757!important; */
    color: #575757;
    /* Commentaire SEO : suppression de "!important" afin de pouvoir appliquer la couleur de "header h2". */
}

.container {
    max-width: 1000px;
}

/* .hero-bloc-text {
    font-size: 38px;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

.hero-bloc-text-sub {
    font-size: 36px;
}

.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}

/* p {
    font-size: 11px;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

.tight-width-whitespace {
    max-width: 600px;
    /* margin: auto auto auto auto; Commentaire SEO : */
    margin: auto;
}

/* .h1 {
    font-size: 20px;
    font-family: "Open Sans";
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

/* .cta-hero {
    margin-top: 22px;
    color: #FFFFFF!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
} *//* Commentaire SEO : suppression avec la création de .contact (<aside>) */

.contact {
    z-index: 2;
    position: sticky;
    top: 0;
    width: fit-content;
} /* Commentaire SEO : bouton unique pour accéder au formulaire de contact, présent tout au long de la page, en suivant son défilement.
Tous les autres boutons sont éliminés. */

@media (max-width: 1023px) {
    .contact {
        transform: translate(0, 50%);
    }
} /* Commentaire SEO : */

@media (min-width: 1024px) {
    .contact {
        transform: translate(0, 60%);
    }
} /* Commentaire SEO : */

.contact-button-mobile {
    z-index: 1;
    position: relative; /* Commentaire SEO : important pour le fonctionnement de l'effet. */
    margin: 1vw 0 0 1vw;
    width: 10vw;
    height: 10vw;
    border: none;
    border-radius: 50vw;
    box-shadow: 0 0 2vw 0 #492809; /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
    background: #F4861E; /* Commentaire SEO : Trendy Orange (https://www.color-name.com/trendy-orange.color). */
    padding: 3vw;
    fill: #FFFFFF
} /* Commentaire SEO : */

.contact-button-mobile:hover {
    box-shadow: 0 0vw 1vw 0vw #492809; /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
    transform: scale(1.1); /* Commentaire SEO : le mouvement permet d'attirer le regard et suggère une interaction possible avec un contenu dynamique. */    
}

.contact-button-mobile:active {
    transform: scale(0.95); /* Commentaire SEO : dynamisation des éléments interactifs. */
}

.contact-button-mobile__hover-effect {
    z-index: -1;
    position: absolute; /* Commentaire SEO : important pour le fonctionnement de l'effet. */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    border-radius: 50vw;
    background: #F69E4B; /* Commentaire SEO : Tints of Trendy Orange Color (https://www.color-name.com/trendy-orange.color). */
    opacity: 0; /* Commentaire SEO : choix d'"opacity" (étape "composition") pour ne pas passer par l'étape "paint", moins optimale pour le temps de calcul. */
    transition: opacity 350ms ease-in-out;    
}

.contact-button-mobile:hover .contact-button-mobile__hover-effect {
    opacity: 1; /* Commentaire SEO : choix d'"opacity" (étape "composition") pour ne pas passer par l'étape "paint", moins optimale pour le temps de calcul. */
}

.contact-button-desktop {
    z-index: 1;
    position: relative; /* Commentaire SEO : important pour le fonctionnement de l'effet. */
    margin: 3vw 0 0 2.5em;
    border: none;
    border-radius: 10vw;
    box-shadow: 0 0vw 1.5vw 0vw #492809; /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
    background: #F4861E; /* Commentaire SEO : Trendy Orange (https://www.color-name.com/trendy-orange.color). */
    padding: .9em 1.5em .9em 1.5em; /* 1.35vw 3.15vw 1.35vw 3.15vw; /* Commentaire SEO : adaptation responsive ; prise en compte de proportions UX design. */
    font-family: "WorkSans";
    font-size: 1.2em; /* 2vw; /* Commentaire SEO : adaptation responsive et lisibilité. */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #FFFFFF;
}

.contact-button-desktop:hover {
    box-shadow: 0 0vw 0.8vw 0vw #492809; /* Commentaire SEO : "Shades of Trendy Orange" (https://www.color-name.com/trendy-orange.color). */
    transform: scale(1.1); /* Commentaire SEO : le mouvement permet d'attirer le regard et suggère une interaction possible avec un contenu dynamique. */    
}

.contact-button-desktop:active {
    transform: scale(0.95); /* Commentaire SEO : dynamisation des éléments interactifs. */
}

.contact-button-desktop__hover-effect {
    z-index: -1;
    position: absolute; /* Commentaire SEO : important pour le fonctionnement de l'effet. */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10vw;
    background: #F69E4B; /* Commentaire SEO : Tints of Trendy Orange Color (https://www.color-name.com/trendy-orange.color). */
    opacity: 0; /* Commentaire SEO : choix d'"opacity" (étape "composition") pour ne pas passer par l'étape "paint", moins optimale pour le temps de calcul. */
    transition: opacity 350ms ease-in-out;
}

.contact-button-desktop:hover .contact-button-desktop__hover-effect {
    opacity: 1; /* Commentaire SEO : choix d'"opacity" (étape "composition") pour ne pas passer par l'étape "paint", moins optimale pour le temps de calcul. */
}

@media (max-width: 1023px) {
    .contact-button-desktop {
        display: none;
    }
} /* Commentaire SEO : */

@media (min-width: 1024px) {
    .contact-button-mobile {
        display: none;
    }
} /* Commentaire SEO : */

.social {
    max-width: 400px;
    margin: auto auto auto auto;
}

/* h2 {
    font-size: 22px;
    line-height: 1.4em;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

/* h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}

/* h1 {
    color: #333333!important;
} */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */

h4 {
    color: #333333!important;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF!important;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
    /* background-color: rgba(165, 147, 99, 0.7); */ /* Commentaire SEO : */
    padding: 40px 40px 40px 40px;

    background-color: #492809;
    opacity: 0.7;
    border-radius: 20px; /* Commentaire SEO : */
}

.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.tc-white {
    color: #F3976C!important;
}

/* .btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important;
}

.btn-atomic-tangerine:hover {
    background: #c27956!important;
    color: #FFFFFF!important;
} */ /* Commentaire SEO : suppression avec la création de .contact (<aside>) */

.ltc-white {
    color: #FFFFFF!important;
}

.ltc-white:hover {
    color: #cccccc!important;
}

.ltc-atomic-tangerine {
    color: #F3976C!important;
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important;
}

.icon-dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important;
}

/* .bg-dots-bg {
    background-image: url("img/dots-bg.png");
}

.bg-lines-h2-bg {
    background-image: url("img/lines-h2-bg.png");
} */ /* Commentaire SEO : suppression de fichiers avec peu d'intérêt visuel, voire gênant pour l'accessibilité. Allègement de données de navigation. */

/* .bg-banniere {
    background-image: url("img/agence-la-panthere.jpg");
} */ /* Commentaire SEO : transfert dans le fichier html. */ /* A supprimer. */

/* .bg-presentation {
    background-image: url("img/image-de-presentation.bmp");
} */ /* Commentaire SEO : suppression de l'image, trop lourde, redondante avec l'image de fond et au format inadapté. */

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container,
    #hero-bloc {
        /* overflow-x: hidden; */ /* Commentaire SEO : suppression pour ne pas couper l'icône du header. */
        position: relative;
    }
    .bloc {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 20px;
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }
}

@media (max-width: 767px) {
    .page-container {
        /* overflow-x: hidden; */ /* Commentaire SEO : suppression pour ne pas couper l'icône du header. */
        position: relative;
    }
    /* h1, */ /* Commentaire SEO : suppression du style pour appliquer le nouveau. */
    /* h2, */ /* Commentaire SEO : suppression du style pour appliquer le nouveau. */
    /* h3, */ /* Commentaire SEO : suppression du style pour appliquer le nouveau. */
    h4,
    h5,
    h6,
    /* p, */ /* Commentaire SEO : suppression du style pour appliquer le nouveau. */
    #disqus_thread {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none!important;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    /* .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    } */ /* Commentaire SEO : suppression du style de police pour appliquer le nouveau. */
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }
    /* #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    } */
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }
    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .a-block {
        padding: 0 10px;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    .voffset-lg {
        margin-top: 30px;
    }
    /*form {
        padding: 5px;
    } */ /* Commentaire SEO : sélecteur supprimé pour éviter le décalage entre 768 et 1023px. */
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }
    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
}

@media (max-width: 400px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .bloc-mob-center-text {
        text-align: center;
    }
}